.vagrant/
vendor/
_vspom/
config/development.config.php
data/cache/
!data/cache/.gitkeep
data/images/
!data/images/.gitkeep
data/search_index/
!data/search_index/.gitkeep
phpunit.xml
composer.lock
.idea/
tmp/
data/logs/
!data/logs/.gitkeep
data/uploads/
!data/uploads/.gitkeep
build
docs
none
.phpunit.result.cache
